[run]
source = src
omit =
    */tests/*
    */__pycache__/*
    */site-packages/*
    */.venv/*
    */venv/*
    */__init__.py
    */s3_storage.py
    */prometheus_metrics.py
    */external_training_service.py
    */sklearn_model.py
    */api/exception_handlers.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
    @abc.abstractmethod

precision = 2
show_missing = True

[html]
directory = htmlcov
